html body{
    margin:0;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    line-height: 1.6;
}

::selection {
    color: #596966;
    background-color: #e4f9f5;
}

body hr{
    border:dotted #78d0cd 7px;
    width: 6%;
    border-bottom: none;
    margin: 80px auto;
}

.logo{
    width: 82px;
    height: 88px;
    margin-left: 7%;
}
.itemsNav{
    align-content: end;
    font-family: Montserrat,Arial;
    margin-right: 2.1%;
}

nav{
    background-color: #e4f9f5;
}

#navigation{
    padding: 1.7rem 1rem 2.5rem;
}

@media (min-width: 1200px){
    div.container{
        max-width: 1227px;
    }
}

nav a{
    color: #45b29a;
    font-size: 19px;
    font-weight:460;
    margin-left: 32px;
    letter-spacing:3px;
}

nav a:hover{
    color:#43524f;
}

.top-container h1{
    margin: 0;
    padding-top: 4.8%;
    color:#359c8b;
    font-family: Parisienne,cursive;
    font-weight:500;
    font-size: 5.75em;
}

.top-container h3{
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    color: #45b29a;
    margin-top: 28px;
    padding: 10px 0 10px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #359c8b; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 308px;
    }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #45b29a;
    }
}

#top-cloud{
    display: inline-block;
    position:absolute;
    margin-top: -3.2%;
    margin-left: 326px;
    overflow: hidden;
    animation: Right_cloud 3.8s 1;
}

@keyframes Right_cloud{
    from{margin-left: 585px;}
    to{margin-left: 326px;}
} 
.top-container {
    width: 100%;
    background-color:#e4f9f5;
    text-align: center;
}

#bottom-cloud{
    position: absolute;
    margin-top: 6.6%;
    margin-left: -40px;
    animation: Left_cloud 3.8s 1;
}

@keyframes Left_cloud{
    from{margin-left: -18%;} 
    to{margin-left: -40px;} 
}
#land{
    margin-left: 4%;
    padding-top: 9.4%;
    position: relative;
}


.middle-container{
    padding-top:50px;
    padding-bottom: 0;
    background-color: white;
}

.profile{
    width:60%;
    margin:auto;
}

.profile h2{
    margin:20px 0 18px ;
    color: #227563;
    font-family: Tangerine;
    font-size: 3rem;
    font-weight:bolder;
    letter-spacing: 3.5px;
}
.profile p{
    text-align: justify;
    width: 96%;
    margin-left: 16px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}
.profilePic{
    display: inline-block;
    align-content: center;
    width:30%;
    height:95%;
    border-radius: 3%;
}

.middle-container .skills{
    width:90%;
    display: inline-block;
    text-align: center;
}

.skills-image{
    width: 212px;
    height: 200px;
    float: left;
    margin: 2% 15px 2px 10%;
}

.skills-row-msg h2{
    text-align: left;
    margin: 40px auto 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 35px;
    color: #4b9a86;
}

.skills-row-msg p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 12%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.skills-heading{
    font-family: Tangerine;
    font-size: 64px;
    color: #185c4d;
    margin-bottom: 60px;
}

.skills-imgs{
    width: 2%;
    height: 3%;
}

.aboutme-img{
    width: 320px;
    height: auto;
    float: right;
    margin:0px 10% auto 0px;
}

.aboutme-msg{
    text-align: justify;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    padding-left:10%;
}

.aboutme-heading{
    text-align:left;
    margin: 88px auto 12px 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 35px;
    color: #4b9a86;
}

.contact-me{
    margin-bottom: 24%;
}

.contact-me h2{
    font-family: Tangerine;
    font-size: 64px;
    color: #185c4d;
    margin-bottom: 20px;
}

.highlightmsg{
    font-family: Montserrat;
    word-spacing: 5px;
    color: #2dc0bb;
    font-weight: 600;
    margin: 20px auto;
}

.contact-message{
    width: 35%;
    margin: 40px auto 60px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
}

.butn {
    -moz-box-shadow: 0px 8px 13px -7px #11999e;
    -webkit-box-shadow: 0px 8px 13px -7px #11999e;
    box-shadow: 0px 8px 13px -7px #11999e;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #66bfbf),
      color-stop(1, #11999e)
      );
    background: -moz-linear-gradient(center top, #66bfbf 5%, #11999e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#11999e');
    background-color: #66bfbf;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    height: 49px;
    line-height: 49px;
    width: 166px;
    text-decoration: none;
    text-align: center;
}

.butn:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #11999e),
        color-stop(1, #66bfbf)
        );
        background: -moz-linear-gradient(center top, #11999e 5%, #66bfbf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#66bfbf');
        background-color: #11999e;
        text-decoration: none;
        color: rgb(236, 236, 236);
    }
    
    .butn:active {
        position: relative;
        top: 1px;
    }
    

.bottom-container{
	position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
	background-color: #233037;
	width: 100%;
	height: 30%;
}

.bottom-container  a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 30px;
    text-decoration: none;
    font-size: 1.25rem;
}

.bottom-container a:hover {
    color: #e4f9f5;
}

.bottom-container div{
    display: inline-block;
    text-align: center;
}

.bottom-container ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    top: 25%;
    transform: translate(-50%);

}
.bottom-container ul li{
    margin: 0 15px;
    list-style: none;
}
.bottom-container ul li a{
    position: relative;
    display: block;
    width: 65%;
    height: 65%;
    text-align: center;
    line-height: 62px;
    background: #fff;
    border-radius: 50%;
    font-size: 187%;
    color: #666;
    transition: -5s;
}
.bottom-container ul li a:before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #11999E;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.bottom-container ul li a:hover:before{
    transform: scale(1.1);
    box-shadow: 0 0 15px #11999E;
}
.bottom-container ul li a:hover{
    color: #11999E;
    box-shadow: 0 0 5px #11999E;
    text-shadow: 0 0 5px #11999E;
}

.bottom-container ul a .material-icons{
    font-size: 26px;
    line-height: 2.5;
}

.copyright {
    position: absolute;
    bottom: 1%;
    left: 42%;
    color: #EAF6F6;
    font-size: 1rem;
  }

.bottom-container .f-link{
    color: #11999E;
    font-family: 'Baloo Chettan 2', cursive;
    margin: 15px auto;
    text-decoration: none;
    font-size: 18px;
}

.bottom-container .f-link:hover {
    color: #EAF6F6;
    text-decoration: underline;
}

@media (max-width:400px){
    .logo{
        margin-top: 4%;
        margin-left: 3%;
    }    
    .itemsNav{
        margin-right: -2.9%;
        margin-top: 2.8%;
    }    
    .top-container h1{
        padding-top: 9.8%;
    }
    #top-cloud{
        margin-top: -5.2%;
        margin-left: 240px;
    }
    @keyframes Right_cloud{
        from{margin-left: 315px;}
        to{margin-left: 240px;}
    } 
    #bottom-cloud{
        margin-top: 8.6%;
        margin-left: -25px;
    }
    @keyframes Left_cloud{
        from{margin-left: -125px;} 
        to{margin-left: -25px;} 
    }
    #land{
        width: 65%;
        padding-top: 12.4%;
    }
    .profilePic{
        width: 35%;
        margin-top: 4%;
        border-radius: 6%;
    }
    .profile p {
        width: 123%;
        margin-left: -66px;
        font-weight: 500;
        font-size: 19px;
    }
    .skills-image {
        margin: 2% 15px 2px 8%;
    }
    .skills-row-msg p {
        margin-left: 8%;
        margin-right: 8%;
        font-size: 19px;
        font-weight: 500;
    }
    .aboutme-img {
        margin: 0px 8% auto 0px;
    }
    .aboutme-msg {
        font-size: 19px;
        font-weight: 500;
        padding-left: 0;
        margin: auto 8%;
    }
    .aboutme-heading {
        margin: 88px auto 12px 8%;
    }
    .contact-message {
        width: 39%;
        font-weight: 500;
        font-size: 20px;
    }
    .contact-me {
        margin-bottom: 34%;
    }
    .bottom-container {
        height: 14%;
    }
    .bottom-container ul li a {
        width: 69%;
        height: 69%;
    }
    .bottom-container ul a .material-icons {
        font-size: 26px;
        line-height: 59px;
    }
    .copyright {
        left: 38%;
    }
}