*{
    margin:0;
    padding:0;
}
html body{
    margin:0;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    line-height: 1.6;
}

::selection {
    color: #596966;
    background-color: #e4f9f5;
}

body hr{
    border:dotted #78d0cd 7px;
    width: 6%;
    border-bottom: none;
    margin: 80px auto;
}

.logo{
    width: 95px;
    height: auto;
    margin-left: 7%;
}
.itemsNav{
    align-content: end;
    font-family: Montserrat,Arial;
    margin-right: 0;
}

nav{
    background-color: #e4f9f5;
}

#navigation{
    padding: 3rem 1rem 2.5rem;
}

@media (min-width: 768px){
    nav .container {
        max-width: 810px;
    }
}

nav a{
    color: #45b29a;
    font-size: 1.3em;
    font-weight:460;
    margin-left: 32px;
    letter-spacing:3px;
}

nav a:hover{
    color:#43524f;
}

.top-container h1{
    margin: 0;
    padding-top: 7.8%;
    color:#359c8b;
    font-family: Parisienne,cursive;
    font-weight:500;
    font-size: 5em;
}

.top-container h3{
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    color: #45b29a;
    margin-top: 28px;
    padding: 10px 0 10px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #359c8b; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 12.4em;
    }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #45b29a;
    }
}

#top-cloud{
    display: inline-block;
    position:absolute;
    margin-top: -6.2%;
    margin-left: 12em;
    overflow: hidden;
    animation: Right_cloud 3.8s 1;
}

@keyframes Right_cloud{
    from{margin-left: 19em;}
    to{margin-left: 12em;}
} 
.top-container {
    width: 100%;
    padding-top: 2%;
    background-color:#e4f9f5;
    text-align: center;
}

#bottom-cloud{
    position: absolute;
    margin-top: 6.6%;
    margin-left: 30px;
    animation: Left_cloud 3.8s 1;
}

@keyframes Left_cloud{
    from{margin-left: -6%;} 
    to{margin-left: 30px;} 
}
#land{
    margin-left: 4%;
    padding-top: 9.4%;
    position: relative;
}

.middle-container{
    padding-top:50px;
    padding-bottom: 0;
    background-color: white;
}

.profile{
    width:70%;
    margin:auto;
}

.profile h2{
    margin:20px 0 18px ;
    color: #227563;
    font-family: Tangerine;
    font-size: 3rem;
    font-weight:bolder;
    letter-spacing: 3.5px;
}
.profile p{
    text-align: justify;
    width: 96%;
    margin-left: 16px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
}
.profilePic{
    display: inline-block;
    align-content: center;
    width:30%;
    height:95%;
    border-radius: 6%;
}

.middle-container .skills{
    width:90%;
    display: inline-block;
    text-align: center;
}

.skills-image{
    width: 212px;
    height: 200px;
    float: left;
    margin: 2% 15px 2px 10%;
}

.skills-row-msg h2{
    text-align: left;
    margin: 40px auto 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 35px;
    color: #4b9a86;
}

.skills-row-msg p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 12%;
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 500;
}

.skills-heading{
    font-family: Tangerine;
    font-size: 70px;
    color: #185c4d;
    margin-bottom: 60px;
}

.skills-row-msg p span img{
    width: 8em;
    height: auto;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: -35px;
    z-index: 1;
    transition: all -10s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transform: scale(0);
}

.skills-row-msg p span{
    color: #17a2b8d6;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.skills-row-msg p:hover span{
    opacity: 0.5;
}

.skills-row-msg p span:hover{
    color: #f39a9a;
    font-weight: 600;
    cursor: pointer;
    opacity:1;
}

.skills-row-msg p span:hover img{
    visibility: visible;
    transform: scale(1);
}

.aboutme-img{
    width: 320px;
    height: auto;
    float: right;
    margin:0px 10% auto 0px;
}

.aboutme-msg{
    text-align: justify;
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 500;
    padding-left:10%;
}

.aboutme-heading{
    text-align:left;
    margin: 88px auto 12px 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 35px;
    color: #4b9a86;
}

#contact {
    margin-bottom: 13%;
}

.contact-me h2{
    font-family: Tangerine;
    font-size: 70px;
    color: #185c4d;
    margin-bottom: 20px;
}

.boldmsg{
    font-size: 2em;
    font-family: Montserrat;
    word-spacing: 5px;
    color: #2dc0bb;
    font-weight: 600;
    margin: 20px auto;
}

.contact-message{
    width: 35%;
    margin: 40px auto 60px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
}

.butn {
    -moz-box-shadow: 0px 8px 13px -7px #11999e;
    -webkit-box-shadow: 0px 8px 13px -7px #11999e;
    box-shadow: 0px 8px 13px -7px #11999e;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #66bfbf),
      color-stop(1, #11999e)
      );
    background: -moz-linear-gradient(center top, #66bfbf 5%, #11999e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#11999e');
    background-color: #66bfbf;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    display: inline-block;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    height: 49px;
    line-height: 49px;
    width: 166px;
    text-decoration: none;
    text-align: center;
}

.butn:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #11999e),
        color-stop(1, #66bfbf)
        );
        background: -moz-linear-gradient(center top, #11999e 5%, #66bfbf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#66bfbf');
        background-color: #11999e;
        text-decoration: none;
        color: rgb(236, 236, 236);
    }
    
    .butn:active {
        position: relative;
        top: 1px;
    }
    

#Footer{
    margin:0;
    padding: 0;
}

footer{
    width:100%;
    height: inherit;
    background:#233037;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


footer ul li a{
    color: #4e4e4e;
    font-family: "Montserrat", sans-serif;
    margin: 25px 41px 10px 49px;
    text-decoration: none;
    font-size: 1.75rem;
    display: block;
    position: relative;
    background-color: #ffffff;
    height: 50%;
    width: 50%;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: -5s;
}


footer ul li a:before{
    position:absolute;
    content:'';
    top:0;
    left:-2px;
    background: #11999E;
    height:100%;
    width:100%;
    border-radius:50%;
    z-index:-1;
    transform:scale(0.9);
    transition: 0.5s;
}

footer ul li a:hover:before{
    transform: scale(1.2);
    filter:blur(5px);
    box-shadow: 0 0 15px #11999E;
}

footer ul li a:hover{
    color: #11999E;
    box-shadow: 0 0 35px #11999E;
    text-shadow: 0 0 10px #11999E;
    transition: 0.5s;
}

.copyright {
    margin-bottom: 0%;
    padding-bottom: 2%;
    left: 42%;
    color: #ccd9d9;
    font-size: 1rem;
}

footer .f-link{
    color: #11999E;
    font-family: 'Baloo Chettan 2', cursive;
    margin: 15px auto;
    text-decoration: none;
    font-size: 18px;
}

footer .f-link:hover {
    color: #EAF6F6;
    text-decoration: underline;
}

@media (min-width:900px){
    
    nav .container {
        max-width: 1176px;
    }
    .logo{
        width:4.6em;
        height: auto;
        border:solid #11999E 3px;
        border-radius: 50%;
    }
    .nav-link {
        padding-left: 1.5rem;
    }
    .top-container h1 {
        font-size: 6em;
    }
    #top-cloud {
        margin-top: -4.2%;
        margin-left: 15em;
    }
    @keyframes Right_cloud{
        from{margin-left: 25em;}
        to{margin-left: 15em;}
    } 
    #bottom-cloud {
        margin-top: 8.6%;
        margin-left: -11px;
    }
    @keyframes Left_cloud{
        from{margin-left: -11%;} 
        to{margin-left: -11px;} 
    }
    .profilePic {
        margin-top:20px;
        width: 13em;
        border-radius: 4%;
    }
    .profile p{
        font-size: 1.1em;
        font-weight: 400;
        width:90%;
        margin-left: 5%;
    }
    .skills-heading {
        font-size: 70px;
        font-weight: 600;
    }
    .skills-image {
        font-size: 1em;
        width: 14em;
        height: auto;
    }
    .skills-row-msg p {
        font-size: 1.1em;
        font-weight: 400;
    }
    .skills-row-msg h2 {
        font-weight: 700;
        font-size: 38px;
    }
    .aboutme-heading {
        font-weight: 700;
        font-size: 38px;
    }
    .aboutme-img {
        width: 16em;
        margin-top:-2.6em;
    }
    .aboutme-msg {
        font-size: 1.1em;
        font-weight: 400;
    }
    .contact-me h2 {
        font-size: 75px;
        font-weight: 600;
        margin-bottom: 0.6em;
    }
    .contact-message {
        width: 26%;
        font-weight: 500;
        font-size: 1.1em;
    }
    #contact {
        margin-bottom: 11em;
    }
    footer {
        padding-top:48px;
    }
    footer ul{
        margin-bottom: 2.3rem;
    }
    footer ul li a {
        margin: 25px 40px 10px 46px;
        font-size: 1.7rem;
        height: 61%;
        width: 54%;
        line-height: 53px;
    }
    .copyright{
        position:relative;
        left:1em;
    }
}
